## Coding 101

Always keep in mind you write your code not only for the computer or for
some specific goal, but for the future of yourself or for your colleges.
Therefore it is highly advised to develop good coding habits that result
in an easy-to-read code. Here are some tips to achieve that:

### Name your variable properly

Variable names in Python can contain alphanumerical characters 
`a-z`, `A-Z`, `0-9` and some special characters such as `_`. 
Normal variable names must start with a letter. 


Naming convention in programming broadly speaking has two big branches.
One is utilizing capital letters, the other one the underscore. Both of
them are good but try not to mix them. You are completely free to use
any variable name, but always keep in mind the three requirements:


1.  human-readable:

-   good: `message_world` refers to a variable that includes a probably
    string message.
-   bad: `messageWorld` is not preferred (called camelCase). It is
    rather an old school convention which is now rarely used. `m3st96k`
    does not reveal much about the possible content

2.  computer-readable:

-   good: `messageWorld`
-   bad: `message-to-world!` as it uses invalid characters. E.g. never
    start with a number and avoid special characters such as
    -,.!\~=&^%$, etc.

3.  (+1) try to avoid already defined *function names* or already
    *existing variables*. We will see what are they and it is always
    advised not to re-define variables. It is just a source of confusion
    and will make debugging much harder. 
    There are a number of Python keywords **that cannot be used as variable names**. 
    These keywords are:

   `and, as, assert, break, class, continue, def, del, elif, else, except, 
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield`


### Commenting your script

Commenting is always helpful, especially in the beginning. In Python (or R) you can
use the `#` mark to tell Python it is not a command, but comment and do not
run that part.

Commenting has two purposes:

1.  Tell future yourself or to college what the command in the next line
    does (or intended to doâ€¦)
2.  You have a command that is useful for some purpose (e.g. you develop
    a code and are not sure which command to use as there are different
    options), but you do not want to run it. Then you can uncomment that
    line.

Commenting and uncommenting a line or selection of lines has the hotkey
of `cmd+shift+c` (mac) or `ctrl+shift+c` (windows).

**Tip:** as you advance in programming you will use less commenting for
the codes as you will start to be able to read the commands as it would
be plain English, which is pretty cool. However, if you are working with
others, always keep in mind that their level might be different. This
course material will use extensive commenting to make sure that the
material is learned even if in some cases it would be unnecessary.
Finally, always make sure that the code does what it is said to be doing
as it is really frustrating and leads to potential misunderstanding.

### Spacing and formatting your code

Finally, how you structure your code indeed matters a lot. Here is some
guidance on how to format your code:

1.  Use spacing as you learn Python. It will make your code much more
    readable. E.g. as we will see functions use parenthesis `()`,
    indexing brackets `[]`, conditionals and loops curly brackets `{}`.
    It is a good practice to use a space after an input of a function,
    index or element of a list that we will discuss later this lecture.
2.  You can break your code into multiple lines. Use these line
    breaks to make your code more easily readable.
3.  In the future we will see many embedded commands, meaning you use a
    command within a command. If it is rather complex use spacing and
    line break together to make it easier to follow.
4.  If you are using functions, conditionals, or loops it is advised to
    increase the indent accordingly.

**Note:** too much formatting will increase the chance of making a
coding error and your commands will not run or even worse, it will run,
but not as you wish. Try to keep a good balance!

**Tip:** use a code formatter, eg. [black](https://black.readthedocs.io/en/stable/) which will do all above with a single click. Running these commands gets you black installed and activated on Jupyter Notebooks. To format code in a notebook, click on <i class="fa-legal fa" > Black

In [ ]:
!jupyter contrib nbextension install --user
!jupyter nbextension install https://github.com/drillan/jupyter-black/archive/master.zip --user
!jupyter nbextension enable jupyter-black-master/jupyter-black

## Variables and types
### Symbol names 
Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter. 

By convention, variable names start with a lower-case letter, and Class names start with a capital letter. 

In addition, there are a number of Python keywords **that cannot be used as variable names**. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except, 
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

Note: Be aware of the keyword `lambda`, which could easily be a natural variable name in a scientific program. But being a keyword, it cannot be used as a variable name.
### Assignment

The assignment operator in Python is `=`. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

Assigning a value to a new variable creates the variable:

In [3]:
a = 3

In [4]:
type(a)

int

In [5]:
b = 1.2

In [6]:
type(b)

float

In [7]:
c = 'a'

In [8]:
type(c)

str

In [9]:
d = 'abc'

In [10]:
type(d)

str

Variables can easily be casted into other types.

In [15]:
float(a)

1.3

In [12]:
str(a)

'3'

In [13]:
int(b)

1

When reassigned with a new value, its type can change.

In [14]:
a = 1.3
type(a)

float

All characters have a respective number by which they are referred to.

In [16]:
chr(60)

'<'

### Fundamental types

In [17]:
# integers
x = 1
type(x)

int

In [18]:
# float
x = 1.0
type(x)

float

In [19]:
# boolean
b1 = True
b2 = False

type(b1)

bool

In [20]:
# complex numbers: note the use of `j` to specify the imaginary part
x = 1.0 - 1.0j
type(x)

complex

In [21]:
print(x)

(1-1j)

In [22]:
print(x.real, x.imag)

1.0 -1.0

### Operators

Arithmetic

In [23]:
1 + 2, 1 - 2, 1 * 2, 1 / 2

(3, -1, 2, 0.5)

Integer division of float numbers

In [24]:
3.0 // 2.0

1.0

Power is ** not ^

In [25]:
2**3

8

/ always results in floats

In [26]:
2 / 1

2.0

if you need intergers use integer division instead

In [27]:
2 // 1

2

 Modulo

In [28]:
7%3

1

boolean

In [29]:
True and False

False

In [30]:
not False

True

In [31]:
True or False

True

comparison

In [32]:
a = 2
b = 3
c = 3

In [33]:
a > b

False

In [34]:
b == c

True

In [35]:
b is c

True

In [36]:
True == 1

True

In [37]:
True == 0

False

### Strings

**Intro**

In [38]:
s = 'Hello Monty!'

In [39]:
s

'Hello Monty!'

In [40]:
print(s)

Hello Monty!

Double quotes work as well. However, they are still not treated the same. (See later.)

In [41]:
s2 = "Hello Monthy!"
s2

'Hello Monthy!'

In [42]:
len(s) # get length

12

In [43]:
print(s.replace('Monty', 'Python'))

Hello Python!

*Indexing* starts at 0 in Python.

In [44]:
s[0:5]

'Hello'

In [45]:
s[-6:]

'Monty!'

In [46]:
s[1:9:2] # start, stop, step

'el o'

In [47]:
s[::2] # start and stop are missing so we are stepping along the whole string

'HloMny'

**Manipulate and print**

In [48]:
s = 'Hello Monty Python!'

split() splits the text to a complex variable called *list*.

In [49]:
s.split(' ')

['Hello', 'Monty', 'Python!']

In [50]:
s.split(' ')[1]

'Monty'

Functions can directly be applied to the text itself.

In [51]:
'Hello Monty Python!'.split(' ')[1]

'Monty'

Combine " and ' to print quotation marks.

In [52]:
s = "Hello Monty 'Holy Grail' Python!"
print(s)

Hello Monty 'Holy Grail' Python!

Special characters: \n, \t and alike.

In [53]:
s = 'Hello \n Monthy!'
print(s)

Hello
 Monthy!

Use another backslash (\\) to escape the escape character.

In [54]:
s = 'Hello \\n Monthy!'
print(s)

Hello \n Monthy!

Start strings with the letter <font color= 'magenta'>**r**</font> to define *raw strings*. Raw strings are printed and interpreted as they are.

In [55]:
print('Hello \t Monthy!') # plain
print(r'Hello \t Monthy!') # raw

Hello 	 Monthy!
Hello \t Monthy!

Raw strings are espcially useful when defining Windows paths. (Not an issue in Linux & Mac.)

In [ ]:
print('C:\Users')

In [ ]:
print(r'C:\Users')

"\\" is the *escape character* that's why it creates a mess in strings. You can also escpate the escape character with an escape character.

In [ ]:
print('C:\\Users') # Not an optimal solution in case of long paths.

Concatenating

In [57]:
'Monthy' + 'Python'

'MonthyPython'

In [58]:
''.join(['Monthy', 'Python'])

'MonthyPython'

In [59]:
' '.join(['Monthy', 'Python']) # Note the space between the parenthesis.

'Monthy Python'

**Some more tweaking and formatting**

Use special characters to include variables in text.
- %s: strings
- %f: floats
- %d: integers

In [60]:
print('Hello, I am %s, I have been working for here for %f years and this is Python Class %d.'% ('Jenny', 2.5, 1))

Hello, I am Jenny, I have been working for here for 2.500000 years and this is Python Class 1.

In [61]:
# What if we replace %f with %s or %d?
print('Hello, I am %s, I have been working here for %s years and this is Python Class %d.'% ('Jenny', 2.5, 1))
print('Hello, I am %s, I have been working here for %d years and this is Python Class %d.'% ('Jenny', 2.5, 1))

Hello, I am Jenny, I have been working here for 2.5 years and this is Python Class 1.
Hello, I am Jenny, I have been working here for 2 years and this is Python Class 1.

We can even format the numbers.

In [62]:
print('Hello, I am %s, I have been working here for %.2f years and this is Python Class %d.'% ('Jenny', 2.5, 1))

Hello, I am Jenny, I have been working here for 2.50 years and this is Python Class 1.

The other way is use *f-strings*.

In [63]:
name = 'Jenny'
classnumber = 1
print(f'Hello, I am {name} and this is Python class {classnumber}.')

Hello, I am Jenny and this is Python class 1.

Use *f-strings* in your scripts to write queries.

In [ ]:
database = 'SALES'
table = 'WEBSHOP_SALES'
month = '8'
day = 20 # both strings and integers will work

query = f"""
SELECT *
FROM {database}.{table}
WHERE month = {month}
AND day = {day}
"""

print(query)

In [ ]:
database = 'SALES'
table = 'WEBSHOP_SALES'
month = 'April' # this will lead a query to error! 
day = 20 # both strings and integers will work

query = f"""
SELECT *
FROM {database}.{table}
WHERE month = {month}
AND day = {day}
"""

print(query)

In [ ]:
database = 'SALES'
table = 'WEBSHOP_SALES'
month = 'April'
day = 20 # both strings and integers will work

query = f"""
SELECT *
FROM {database}.{table}
WHERE month = '{month}'
AND day = {day}
"""

print(query)

And of course there are even more ways to format text.

In [ ]:
print('{} divided by {} is {}.'.format(2000,1500,2000/1500))

Some fancier formatting.

In [ ]:
print('{:,d} divided by {:,.0f} is {:.2f}.'.format(2000,1500,2000/1500))

In [ ]:
print('{:8.2f}'.format(10/3))
print('{:8.2f}'.format(100/3))
print('{:8.2f}'.format(1000/3))
print('{:8.2f}'.format(10000/3))
print('{:8.2f}'.format(100000/3))
print('{:8.2f}'.format(1000000/3))

In [ ]:
print('{:8,.2f}'.format(100000/3)) # Add a thousand separator.

**Logical operations with strings**

In [ ]:
s = 'Java, C++, COBOL '
'Python' in s

In [ ]:
s = 'Monthy Python'
'Python' in s